@charset "utf-8";
/* CSS Document */
#services {
    background-color: rgba(217,236,253,0.95);
    background-image: url("../Pixie.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
	align-content: center;
}
.row{
	align-content: space-between;
}
.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 270px;
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: rgba(217,236,253,0.95);
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 270px;
   z-index: 1;
}
.flip .card .front img{
  width: 270px;
  height: 100%;
}
.flip .card .img {
   position: relaitve;
   width: 270px;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  position: absolute;
}
.inner{
  margin:0px !important;
  width: 270px;
}
.modal{
	align-self: center;
	top:24px;
}
.modal-content {
	padding-top: 16px;
	background-color: #ACC7E2;
	
}
#portfolio {
	width:100%;
    /*    background-color: #ACC7E2; */
/*    background-image: url("Pixie.svg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
.portfolioImage{
	width:400px;
	height:400px;
	align-self: center;
	
}
.pixie {
    align-self: center;
    vertical-align: bottom;
    display: inline;
}
.pixie2 {
    align-self: center;
    vertical-align: bottom;
    display: inline;
    width: 40%;
    height: 70%;
    /*	height:auto;*/
    padding-bottom: 50px;
}
.sparkley {
    background: #3e5871;
    color: white;
    border: none;
    padding: 16px 36px;
    /*        font-weight: normal;*/
    border-radius: 5px;
    transition: all 0.25s ease;
    box-shadow: 0 38px 32px -23px black;
    margin: 0 1em 1em;
}
.sparkley:hover {
    background: #ACC7E2;
    color: rgba(255, 255, 255, 0.2);
}
.sparkle-canvas {
    width: 100%;
    height: auto;
}

.navbar-brand {
	font-size: 24px;
	font-weight: bold;
}
.text-capitalize {
    font-size: 36px !important;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,1.00);
    opacity: 1; /* Firefox */
}
.form-contro:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0,0,0,1.00);
}
.form-contro::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0,0,0,1.00);
}
input .form-control {
    top: 50px;
}
body {
    /*    font: 400 15px "dancing-script","dancing-script";*/
    line-height: 1.8;
    color: rgba(0,0,0,1.00);
    font-family: 'Dancing Script', cursive;
    background-attachment: fixed;
    /*    background-image: url("Asset 6-01.svg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: auto;
}
.form-control {
    background-color: rgba(254, 241, 244, 1.00);
    color: rgba(0,0,0,1.00);
    font-family: 'Dancing Script', cursive;
/*    font-size: 24px;*/
}
.bluebg {
    background-color: rgba(217,236,253,1.00);
}
.bluetxt {
/*    color: rgba(217,236,253,1.00) !important;*/
	color: rgba(0,0,0,1.00) !important;
}
.pink-bg{
	background-color: rgba(254, 241, 244, 0.95);
}
#services .col-sm-4 {
    background-color: rgba(217,236,253,0.95);
}
h1 {
    font-size: 121.50px 7.594em;
    color: #000000;
}
/*
h2 {
    font-size: 24px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 600;
    margin-bottom: 30px;
}
*/
h4 {
    font-size: 18px;
    /*    line-height: 1.375em;*/
    color: #000000 !important;
    font-weight: 400;
    margin-bottom: 18px;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    /*	background-image: url("1920x1080plainbackground.png")  #EBBBCB;*/
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
    padding: 100px 25px;
    height: 120%s;
    /*    font-family: Montserrat, sans-serif;*/
}
.container-fluid {
	padding: 50px 50px;
/*	    background-image: url("Pixie.svg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
	background-color: rgba(254, 241, 244, 1);
}
.bg-grey {
    background-color: rgba(254, 241, 244, 1.00);
}

.logo-small {
    color: rgba(254, 241, 244, 1.00);
    font-size: 50px;
}
.logo {
    color: rgba(254, 241, 244, 1.00);
    font-size: 200px;
}
#about {
    background-color: rgba(254, 241, 244, 1.00);
    /*    background-color: #ACC7E2; */
/*    background-image: url("Pixie.svg");*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}
.btn {
    background-color: rgba(217,236,253,1.00);
    color: rgba(0,0,0,1.00);
    border-color: rgba(254, 241, 244, 1.00);
}
.btn:hover {
    background-color: rgba(254, 241, 244, 1.00);
    color: rgba(0,0,0,1.00);
    border-color: rgba(254, 241, 244, 1.00);
}
.btn-danger {
    background-color: rgba(217,236,253,1.00);
    color: rgba(0,0,0,1.00);
    border-color: rgba(217,236,253,1.00);
}
.btn-danger:hover {
    background-color: rgba(254, 241, 244, 1.00);
    color: rgba(0,0,0,1.00);
    border-bottom-color: rgba(254, 241, 244, 1.00);
    border-color: rgba(254, 241, 244, 1.00);
}
.thumbnail p {
    font-size: 24px;
    
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background-color: rgba(254, 241, 244, 0.95);
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: rgba(254, 241, 244, 1.00);
}
.carousel-indicators li {
    border-color: rgba(254, 241, 244, 1.00);
}
.carousel-indicators li.active {
    background-color: rgba(254, 241, 244, 1.00);
}
.carousel-inner {
    background-color: rgba(217,236,253,1.00);
}
#carouselFade .item{
	height: 400px;
	
}

#slide1{
	background-image: url("../images/virgin.jpg");
	 background-repeat: no-repeat;
    background-position: center;
		background-size: contain;
}
#slide2{
	background-image: url("../images/tomorrow.jpg");
	 background-repeat: no-repeat;
    background-position: center;
		background-size: contain;
}
#slide3{
	background-image: url("../images/Tyneside.jpg");
	 background-repeat: no-repeat;
    background-position: center;
		background-size: contain;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    /*    font-style: italic;*/
    margin: 60px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #EBBBCB;
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid rgba(254, 241, 244, 1.00);
    background-color: #fff !important;
    color: rgba(254, 241, 244, 1.00);
}
.panel-heading {
    color: #000000 !important;
    background-color: rgba(254, 241, 244, 1.00) !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
	font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: rgba(254, 241, 244, 1.00);
    color: #000000;
}
.navbar {
    margin-bottom: 0;
    background-color: rgba(217,236,253,1.00);
    z-index: 9999;
    border: 0;
    font-size: 24px !important;
    line-height: 1.4286 !important;
    border-radius: 0;
    text-transform: capitalize;
}
.navbar li a, .navbar .navbar-brand {
	color: #000000 !important;
	font-weight: bold;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: rgba(0,0,0,1.00) !important;
    background-color: rgba(254, 241, 244, 1.00) !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #EBBBCB;
}

/*animations*/

.slideanim {
    visibility: hidden;
}

.slidelanim {
    visibility: hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
.slidel {
    animation-name: slidel;
    -webkit-animation-name: slidel;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
p {
    font-size: large;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@keyframes slidel {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes slidel {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
.subscribe {}
.aboutback {}
.bluetxt {}
